<ion-header>
  <ion-toolbar>
    <ion-title>{{'MOVIES_CARD_BOOKING_MODAL_TITLE' | translate}} {{movie.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card color="secondary">
    <ion-card-content>
      {{'MOVIES_CARD_BOOKING_MODAL_INFO' | translate}}
    </ion-card-content>
  </ion-card>

  <form #form="ngForm" (ngSubmit)="bookTickets(form)" style="margin-top: 20px; margin-bottom: 20px;">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{'MOVIES_CARD_BOOKING_MODAL_TICKET_AMOUNT' | translate}}</ion-label>
          <ion-input clearInput max="{{freeTickets}}" name="amount" ngModel required type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b style="margin-left: 10px;">{{'MOVIES_CARD_AVAILABLE_TICKETS' | translate}}: {{freeTickets}}</b>
      </ion-col>
    </ion-row>

    <ion-button disabled="{{!form.valid}}" expand="block" type="submit">{{'MOVIES_CARD_BOOK' | translate}}</ion-button>
  </form>
</ion-content>
