<ion-content>
  <ion-searchbar *ngIf="movieOrders.length > 0 && !loading" (ionChange)="onSearch($event)"
                 showCancelButton="focus"></ion-searchbar>

  <ion-refresher (ionRefresh)="onRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-movie-order *ngFor="let movieOrder of movieOrders" [movieOrder]="movieOrder"></app-movie-order>

  <ion-grid *ngIf="movieOrders.length == 0 && !loading" style="margin-top: 25%">
    <ion-row>
      <ion-col style="text-align: center">{{'MOVIES_SERVIVCE_NOT_APPLIED_FOR_WORKER' | translate}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button routerLink="/home/cinema/movies">{{'MOVIES_SERVIVCE_APPLY' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
