<ion-refresher (ionRefresh)="onRefresh($event)" slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-item-group *ngIf="bookings.length != 0">
  <ion-item-divider>
    <ion-label>{{'START_NEXT_MOVIES' | translate}}</ion-label>
    <ion-button slot="end" routerLink="/home/cinema/movies">{{'INFORMATION' | translate}}</ion-button>
  </ion-item-divider>

  <ion-item *ngFor="let booking of bookings">
    <ion-label>{{booking.name}}</ion-label>
    <ion-note slot="end">{{booking.date | date:'dd.MM.yyyy'}}</ion-note>
  </ion-item>
</ion-item-group>

<ion-item-group *ngIf="birthdays.length != 0">
  <ion-item-divider>
    <ion-label>{{'START_BIRTHDAYS_OF_THE_MONTH' | translate}}</ion-label>
  </ion-item-divider>

  <ion-item *ngFor="let birthday of birthdays">
    <ion-label>{{birthday.name}}</ion-label>
    <ion-note slot="end">{{birthday.date | date:'dd.MM.yyyy'}}</ion-note>
  </ion-item>
</ion-item-group>
