<ion-list>
  <ion-list-header color="primary">
    <ion-label>{{movieName}} - {{movieDate | date:'dd.MM.yyyy'}}</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let ticketOrder of ticketOrders">
    <ion-label>{{ticketOrder.userName}}: <span style="float: right">{{ticketOrder.amount}}</span></ion-label>
  </ion-item>

  <ion-item>
    <ion-label><b>{{'MOVIES_SERVICE_TOTAL_AMOUNT' | translate}} <span style="float: right">{{ticketsTotalAmount}}</span></b></ion-label>
  </ion-item>
</ion-list>
