<ion-card>
  <img src="{{movie.posterLink}}"/>
  <ion-card-header>
    <ion-card-subtitle>{{movie.date | date:'dd.MM.yyyy'}}</ion-card-subtitle>
    <ion-card-title>{{movie.name}}<span
      *ngIf="soldOut"> |&#32; <b>{{'MOVIES_CARD_SOLD_OUT' | translate}}</b></span></ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row *ngIf="movie.workerName == null" align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_WORKER' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button #applyForWorkerButton (click)="applyForWorker(applyForWorkerButton)" color="secondary"
                      size="small">{{'MOVIES_CARD_APPLY' | translate}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="movie.workerName != null" align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_WORKER' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button #signOutForWorkerButton (click)="signOutForWorker(signOutForWorkerButton)" *ngIf="movie.workerID == myUserService.ID" color="secondary"
                      size="small" style="float: right">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <span class="name">{{movie.workerName}}</span>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="movie.emergencyWorkerName == null" align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_EMERGENCY_WORKER' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button #applyForEmergencyWorkerButton (click)="applyForEmergencyWorker(applyForEmergencyWorkerButton)" color="secondary"
                      size="small">{{'MOVIES_CARD_APPLY' | translate}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="movie.emergencyWorkerName != null" align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_EMERGENCY_WORKER' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button #signOutForEmergencyWorkerButton (click)="signOutForEmergencyWorker(signOutForEmergencyWorkerButton)" *ngIf="movie.emergencyWorkerID == myUserService.ID"
                      color="secondary" size="small"
                      style="float: right">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <span class="name">{{movie.emergencyWorkerName}}</span>
        </ion-col>
      </ion-row>

      <ion-row align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_TRAILER' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button color="secondary" href="{{movie.trailerLink}}" size="small">
            {{'MOVIES_CARD_TRAILER_WATCH' | translate}}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_AVAILABLE_TICKETS' | translate}}</ion-col>
        <ion-col style="text-align: right">
          {{20 - movie.bookedTickets}}
        </ion-col>
      </ion-row>

      <ion-row *ngIf="movie.bookedTicketsForYourself > 0" align-items-center justify-content-between>
        <ion-col>{{'MOVIES_CARD_BOOKED_TICKETS' | translate}}</ion-col>
        <ion-col style="text-align: right">
          <ion-button #cancelTicketsButton (click)="cancelTickets(cancelTicketsButton)" color="secondary" size="small"
                      style="float: right">
            <ion-icon name="remove-circle"></ion-icon>
          </ion-button>
          <span class="name">{{movie.bookedTicketsForYourself}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button (click)="bookTickets()" color="primary" disabled="{{soldOut}}" expand="block">
      {{'MOVIES_CARD_BOOK' | translate}}</ion-button>

  </ion-card-content>
</ion-card>
