<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>{{'MOVIES' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="worker">
      <ion-icon name="card"></ion-icon>
      <ion-label>{{'MOVIES_SERVICE' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
