<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{'EVENTS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movies">
      <ion-icon name="film"></ion-icon>
      <ion-label>{{'MOVIES' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{'SETTINGS' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
