<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="onLogout()" expand="block">Logout</ion-button>
</ion-content>
