<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'SIGNIN' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{'SIGNIN_TO_CONTINUE' | translate}}</ion-card-subtitle>
      <ion-card-title>{{communityName}} <span
        *ngIf="communityName == null">{{'SIGNIN_ENTER_SERVER_ADDRESS' | translate}}</span></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #f="ngForm" (ngSubmit)="onSignin(f)" *ngIf="state === 'login'">
        <ion-item>
          <ion-label position="floating">{{'SIGNIN_SERVER_ADDRESS' | translate}}</ion-label>
          <ion-input (focusout)="onServerChange()" minlength="10" [(ngModel)]="server" clearInput name="server"
                     type="url" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'SIGNIN_USERNAME' | translate}}</ion-label>
          <ion-input clearInput maxlength="190" minlength="3" name="username" ngModel required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'SIGNIN_PASSWORD' | translate}}</ion-label>
          <ion-input clearInput minlength="5" name="password" ngModel required type="password"></ion-input>
        </ion-item>

        <ion-button [disabled]="!f.valid" expand="block" style="margin-top: 15px" type="submit">
          {{'SIGNIN_BUTTON' | translate}}</ion-button>
      </form>

      <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword(changePasswordForm)"
            *ngIf="state === 'changePassword'">

        <ion-card color="warning">
          <ion-card-header>
            <ion-card-title>{{'SIGNIN_CHANGE_PASSWORD_TITLE' | translate}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{'SIGNIN_CHANGE_PASSWORD_DESCRIPTION' | translate}}
          </ion-card-content>
        </ion-card>

        <ion-item>
          <ion-label position="floating">{{'SIGNIN_CHANGE_PASSWORD_PASSWORD' | translate}}</ion-label>
          <ion-input clearInput minlength="5" type="password" name="password" ngModel required
                     [(ngModel)]="changePassword" (ngModelChange)="onPasswordChange()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{'SIGNIN_CHANGE_PASSWORD_PASSWORD_AGAIN' | translate}}</ion-label>
          <ion-input clearInput minlength="5" type="password" name="password_again" ngModel required
                     [(ngModel)]="changePasswordAgain" (ngModelChange)="onPasswordChange()"></ion-input>
        </ion-item>
        <small *ngIf="changePasswordNotEqual" style="color: red; margin-left: 15px;">Die Passwörter sind nicht identisch!</small>

        <ion-button [disabled]="!changePasswordForm.valid || changePasswordNotEqual" expand="block" style="margin-top: 15px" type="submit">
          {{'SIGNIN_CHANGE_PASSWORD_CHANGE_PASSWORD' | translate}}</ion-button>
      </form>

      <ion-card *ngIf="state === 'notActivated'" color="warning">
        <ion-card-header>
          <ion-card-title>{{'SIGNIN_ACCOUNT_NOT_ACTIVATED_TITLE' | translate}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          {{'SIGNIN_ACCOUNT_NOT_ACTIVATED_DESCRIPTION' | translate}}

          <ion-button (click)="state='login'" expand="block">{{'BACK' | translate}}</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-progress-bar *ngIf="showLoadingBar" type="indeterminate"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>
