<ion-content>
  <ion-searchbar (ionChange)="onSearch($event)" showCancelButton="focus"></ion-searchbar>

  <ion-refresher (ionRefresh)="onRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-movie-card *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
</ion-content>
