<ion-menu side="start" menuId="sidenav" contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{'HOME_NAV_WELCOME' | translate}} {{name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home/start" (click)="clickedNavButton('START')">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>{{'START' | translate}}</ion-label>
      </ion-item>
      <ion-item routerLink="/home/cinema/movies" (click)="clickedNavButton('MOVIES')">
        <ion-icon name="film" slot="start"></ion-icon>
        <ion-label>{{'MOVIES' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="clickedNavButton('EVENTS')">
        <ion-label>{{'EVENTS' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="clickedNavButton('SETTINGS')">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>{{'SETTINGS' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="logout()" routerLink="/signin">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>{{'HOME_NAV_LOGOUT' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>DatePoll - {{current}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content">
  <router-outlet></router-outlet>
</ion-content>
